main {
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    align-content: flex-start;
  }
  
  section {
    border: solid 1px red;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  
  .sm {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .lg {
    width: 5rem;
    height: 5rem;
  }